nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(40, 38, 54);
    padding: 25px 30px;
    margin: 20px;
    border-radius: 20px;
}
#navitems{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navitems li{
    list-style: none;
    padding: 20px;
    position: relative;
}
#navitems li a{
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    color: azure;
    transition: 0.3 ease-in-out;
}
#navitems li a:hover,
#navitems li a.active
{
    color: rgb(95, 32, 231);
}
#navitems li a:hover::after,
#navitems li a.active::after{
    content: none;
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background:white;

}