.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.image{
    margin: 20px;
}
.but{
    background-color: rgb(68, 68, 196);
    margin-top: 20px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: inset;
}
.textstyle{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: medium;
padding: 12px;
}